[Desktop Entry]
Type=Application
Name=BOI
Comment=People-centric email client
Exec=/usr/bin/boi
Icon=boi
StartupWMClass=boi
Categories=Network;Email;
StartupNotify=true
MimeType=x-scheme-handler/mailto;
